# python_version>=3.10
datasets==3.2.0
huggingface-hub==0.27.0
ipykernel==6.29.5
ipython==8.31.0
numpy==2.2.1
pandas==2.2.3
pillow==11.0.0
PyYAML==6.0.2
requests==2.32.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.47.1
